<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>opencover,cobertura</Format>

          <Include>
            [ADWebApplication]*
          </Include>

          <Exclude>
            [ADWebApplication.Tests]*
            [ADWebApplication]*.Program
            [ADWebApplication]*Migrations*
            [ADWebApplication]*ViewModels*
            [ADWebApplication]*Models.DTOs*
            [ADWebApplication]*Models.Entities*
          </Exclude>

          <ExcludeByFile>
            **/wwwroot/**
            **/scripts/**
          </ExcludeByFile>

          <ExcludeByAttribute>
            Obsolete,
            GeneratedCodeAttribute,
            CompilerGeneratedAttribute
          </ExcludeByAttribute>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
