name: CI

on:
  pull_request:          # Run CI check on Pull Requests
  push:
    branches: [ main ]   # Run CI check on main pushes
  workflow_dispatch:     # Run CI check on manual trigger

env:
  DEPENDENCY_CHECK_VERSION: v9.0.7

jobs:
  build-and-scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Make scripts executable
        run: chmod +x ./scripts/*.sh

      - name: Build
        run: ./scripts/build.sh

      - name: Install SonarScanner
        run: dotnet tool install --global dotnet-sonarscanner

      - name: Add .NET global tools to PATH
        run: echo "$HOME/.dotnet/tools" >> $GITHUB_PATH

      - name: Run Sonar Scan
        run: ./scripts/sast-sonar.sh

      - name: Upload Sonar Artifacts
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: sonar-report
          path: .sonarqube/out

      - name: Install OWASP Dependency-Check
        run: |
          VERSION=${DEPENDENCY_CHECK_VERSION}

          wget https://github.com/jeremylong/DependencyCheck/releases/download/${VERSION}/dependency-check-${VERSION#v}-release.zip
          unzip dependency-check-*.zip
          chmod +x dependency-check/bin/dependency-check.sh
          sudo mv dependency-check/bin/dependency-check.sh /usr/local/bin/dependency-check.sh

      - name: Run Dependency Check
        run: ./scripts/sca-dependency-check.sh

      - name: Upload Dependency Check Report
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: dependency-check-report
          path: ./dependency-check-report

      - name: Local DAST Scan
        run: ./scripts/dast-zap.sh

      - name: Upload ZAP DAST Report
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: zap-report
          path: ./zap-report
