name: CI

on:
  pull_request:          # Run CI check on Pull Requests
  push:
    branches: [ main ]   # Run CI check on main pushes
  workflow_dispatch:     # Run CI check on manual trigger

jobs:
  build-and-scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Install SonarScanner
        run: dotnet tool install --global dotnet-sonarscanner

      - name: Build
        run: ./scripts/build.sh

      - name: Test
        run: ./scripts/test.sh

      - name: Sonar Scan
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: ./scripts/sast-sonar.sh

      - name: Dependency Check
        run: ./scripts/sca-dependency-check.sh

      - name: Local DAST Scan
        run: ./scripts/dast-zap.sh
