name: ZAP Scan

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  zap_scan:
    runs-on: ubuntu-latest
    name: Scan the webapplication
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
      - name: ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.12.0  # Use newer version
        with:
          target: 'https://in5nite-e8d9b0g5cad9hrbg.southeastasia-01.azurewebsites.net/'
          # Remove or comment out the rules_file_name if you don't have one
          # rules_file_name: '.zap/rules.tsv'
